<!DOCTYPE html>

<head>
    <link rel="stylesheet" href={{ url_for( 'static' , filename='login.css' ) }} />
    <link rel="icon" href={{ url_for( 'static' , filename='icon.jpg' ) }} />
    <title>Michael's Movie Picks</title>
</head>

<body>

    <h1>Michael's Movie Picks</h1>
    <form method="POST" action="/handle_login">
        <div class="img_container">
            <img src={{ url_for( 'static' , filename='popcorn.jpg' ) }} alt="Popcorn" class="art" />
        </div>

        <div class="container">
            <label for="uid"><b>Username</b></label>
            <br>
            <input type="text" name="uid" placeholder="UserID" required>
            <br>
            <br>
            <label for="pw"><b>Password</b></label>
            <br>
            <input type="password" name="pw" placeholder="Password" autocomplete="on" required>
            <br>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
            <br>
            <button type="submit">Login</button>
        </div>

        <div class="container">
            <p>Don't have an accout?</p>
            <p><a href="{{url_for('signup')}}">Sign Up Now</a></p>
        </div>

    </form>

</body>